Debug
bin
obj
.vs
/trunk/Unicert.WebOperator/*.user
/trunk/Unicert.RegistrationService.Data/*.user
/trunk/Unicert.RegistrationService/*.user
/Prototypes/UniCERTSettingConsole/UniCERTSettingConsole


# верстка
node_modules/
.sublime-gulp.cache
gulpfile.js
package-lock.json
package.json
.sublime-gulp.cache
/trunk/HSMStub/HSMStub.csproj.user
/trunk/HSMStub/Properties/PublishProfiles/FolderProfile.pubxml.user
/trunk/Unicert.CertificationService.AdminModule/Properties/PublishProfiles/FolderProfile.pubxml.user
/trunk/Unicert.CertificationService.AdminModule/Unicert.CertificationService.AdminModule.csproj.user
/trunk/Unicert.CertificationService.Scheduller/Properties/PublishProfiles/FolderProfile.pubxml.user
/trunk/Unicert.CertificationService.Scheduller/Unicert.CertificationService.Scheduller.csproj.user
/trunk/Unicert.CertificationService/Properties/PublishProfiles/FolderProfile.pubxml.user
/trunk/Unicert.CertificationService/Unicert.CertificationService.csproj.user
/trunk/Unicert.IntegrationService.AdminModule/Properties/PublishProfiles/FolderProfile.pubxml.user
/trunk/Unicert.IntegrationService.AdminModule/Unicert.IntegrationService.AdminModule.csproj.user
/trunk/Unicert.IntegrationService/Properties/PublishProfiles/FolderProfile.pubxml.user
/trunk/Unicert.IntegrationService/Unicert.IntegrationService.csproj.user
/trunk/Unicert.RegistrationService.AdminModule/Properties/PublishProfiles/FolderProfile.pubxml.user
/trunk/Unicert.RegistrationService.AdminModule/Unicert.RegistrationService.AdminModule.csproj.user
/trunk/Unicert.RegistrationService.Processor/Properties/PublishProfiles/FolderProfile.pubxml.user
/trunk/Unicert.RegistrationService.Processor/Unicert.RegistrationService.Processor.csproj.user
/trunk/Unicert.RegistrationService.PublicWeb/Properties/PublishProfiles/FolderProfile.pubxml.user
